
<div id="about_page">
    <h1 id="about">About Kelly's Cakes</h1>
        <p class="about_story">Kelly's cakes was founded in 2016 when her passion for cakes and eating intertwined</p>
        
</div>
<center>
<div class="pic">
  <%= image_tag("http://images.media-allrecipes.com/userphotos/250x250/00/70/88/708879.jpg", class: "img-responsive about_pic") %>
</div>
</center>