<body>
    <container class="body">
        <h1 id="home_page">Kelly's Cakes</h1>
        <!--<p>Find me in app/views/static_pages/index.html.erb</p>-->
        <p class="paragraph">Amazing cakes, amazing memories</p>
        
           <div class="pic">
            <%= image_tag("http://images.media-allrecipes.com/userphotos/250x250/00/70/88/708879.jpg", class: "img-responsive") %>
           </div>
           
           <div class="description">
               <p>Kelly's Cakes combines the delicate preparation of a <br> bakery with the love and care of your kitchen.
               </p>
           </div>

    </container>
</body>

