// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_page {
    text-align: center;
    font-size: 48px;
    font-family: Garamond;
}

#contact {
    text-align: center;
    font-size: 36px;
    font-family: Garamond;
}

#about {
    text-align: center;
    font-size: 36px;
    font-family: Garamond;
}

#footer {
    text-align: center;
    padding-top: 25px;
}

.paragraph {
    text-align: center;
    font-size: 20px;
}

body {
    background-color: beige;
}

.cake {
    display: inline;
    padding-left: 50px;
 
}



.time {
    text-align: center;
    padding-top: 15px;
}

.pic {
    padding-left: 41%;
}

.nav a {
    font-size: 20px;
    font-family: Garamond;
    padding: 10px;
}

.description {
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
}