// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_page {
    text-align: center;
    font-size: 36px;
    font-family: Garamond;
}

#contact {
    text-align: center;
    font-size: 36px;
    font-family: Garamond;
}

#about {
    text-align: center;
    font-size: 36px;
    font-family: Garamond;
}

#footer {
    text-align: center;
    padding-top: 25px;
}

.paragraph {
    text-align: center;
}

body {
    background-color: beige;
}

.img-responsive {
    padding-left: 666px;
}

.time {
    text-align: center;
    padding-top: 15px;
}