<body class="product_page">
  <p id="notice"><%= notice %></p>

  <div id="cakesale">
    <h1 class="text-center">Cakes For Sale!</h1> 
      <div class="new_product"><a><%= link_to 'New Product', new_product_path, class: 'btn btn-default' %></a></div>
      <div class="col-md-12">
      <% cache(cache_key_for_products) do %>
        <%= render @products %>
      <% end %>
      </div>
  </div>
</body>



