<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<nav>
  <ul>
    <a href="#home_page">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </ul>
</nav>


<p> Welcome! The date and time is <%= Time.now %></p>

<footer>
  &copy; 2016 Kel's Cakes
</footer>

</body>
</html>
